<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<link rel="stylesheet" href="src/ui-tabs.css">-->
</head>
<body ng-controller="MyController">

<div>
  <button ng-click="addTab()">添加</button>
  <button ng-click="closeAll()">关闭所有</button>
</div>

<ui-tabs-view></ui-tabs-view>

<script src="../lib/angular.js"></script>
<script src="../lib/ocLazyLoad.js"></script>
<script src="../dist/ui-tabs.js"></script>

<script src="index.js"></script>
</body>
</html>